[defaults]
ansible_become_method=sudo
ansible_python_interpreter=/usr/bin/python3
become = true
inventory = inventory.yaml
library = modules/ansible-gpg-key
nocows = True
result_format = yaml
roles_path = ./roles:/etc/ansible/roles
